.mdc-snackbar {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  left: 0;
  margin: 8px;
  pointer-events: none;
  position: fixed;
  right: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8;
}

.mdc-snackbar__surface {
  background-color: #333;
  border-radius: 4px;
  border-radius: var(--mdc-shape-small, 4px);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  max-width: 672px;
  min-width: 344px;
}

@media(max-width:480px),
(max-width:344px) {
  .mdc-snackbar__surface {
    min-width: 100%;
  }
}

.mdc-snackbar__label {
  color: rgba(255,255,255,.87);
}

.mdc-snackbar--opening,
.mdc-snackbar--open,
.mdc-snackbar--closing {
  display: flex;
}

.mdc-snackbar--open .mdc-snackbar__label,
.mdc-snackbar--open .mdc-snackbar__actions {
  visibility: visible;
}

.mdc-snackbar--leading {
  justify-content: flex-start;
}

.mdc-snackbar--stacked .mdc-snackbar__label {
  padding-bottom: 12px;
  padding-left:16px;
  padding-right: 8px;
}

[dir=rtl] .mdc-snackbar--stacked .mdc-snackbar__label,
.mdc-snackbar--stacked .mdc-snackbar__label[dir=rtl] {
  padding-left: 8px;
  padding-right: 16px;
}

.mdc-snackbar--stacked .mdc-snackbar__surface{flex-direction:column;align-items:flex-start}
.mdc-snackbar--stacked .mdc-snackbar__actions{align-self:flex-end;margin-bottom:8px}

.mdc-snackbar__surface {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  opacity: 0;
  padding-left: 0;
  padding-right: 8px;
  /* -webkit-transform: scale(.8); */
  transform: scale(.8);
}

.mdc-snackbar__surface::before {
  border: 1px solid transparent;
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

[dir=rtl] .mdc-snackbar__surface,
.mdc-snackbar__surface[dir=rtl] {
  padding-left: 8px;
  padding-right: 0;
}

.mdc-snackbar--open .mdc-snackbar__surface {
  opacity: 1;
  pointer-events: auto;
  /* -webkit-transform: scale(1); */
  transform: scale(1);
  /* transition: opacity 150ms 0ms cubic-bezier(0,0,.2,1), -webkit-transform 150ms 0ms cubic-bezier(0,0,.2,1); */
  transition: opacity 150ms 0ms cubic-bezier(0,0,.2,1), transform 150ms 0ms cubic-bezier(0,0,.2,1);
  /* transition: opacity 150ms 0ms cubic-bezier(0,0,.2,1), transform 150ms 0ms cubic-bezier(0,0,.2,1), -webkit-transform 150ms 0ms cubic-bezier(0,0,.2,1); */
}

.mdc-snackbar--closing .mdc-snackbar__surface {
  /* -webkit-transform: scale(1); */
  transform: scale(1);
  transition: opacity 75ms 0ms cubic-bezier(.4,0,1,1);
}

/*
Removed vendor prefixed `-webkit-text-decoration`:
-webkit-text-decoration:var(--mdc-typography-body2-text-decoration,inherit);
 */
.mdc-snackbar__label {
  box-sizing: border-box;
  flex-grow: 1;
  font-family: Roboto, sans-serif;
  font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: .875rem;
  font-size: var(--mdc-typography-body2-font-size, .875rem);
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-weight: var(--mdc-typography-body2-font-weight, 400);
  letter-spacing: .0178571429em;
  letter-spacing: var(--mdc-typography-body2-letter-spacing, .0178571429em);
  line-height: 1.25rem;
  line-height: var(--mdc-typography-body2-line-height, 1.25rem);
  margin: 0;
  padding: 14px 8px 14px 16px;
  text-decoration: inherit;
  text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-body2-text-transform, inherit);
  visibility: hidden;
  width: 100%;
}

[dir=rtl] .mdc-snackbar__label,
.mdc-snackbar__label[dir=rtl] {
  padding-left: 8px;
  padding-right: 16px;
}

.mdc-snackbar__label::before {
  content: attr(data-mdc-snackbar-label-text);
  display: inline;
}

.mdc-snackbar__actions {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  visibility: hidden;
}

.mdc-snackbar__action:not(:disabled) {
  color: #bb86fc;
}

.mdc-snackbar__action::before,
.mdc-snackbar__action::after {
  background-color: #bb86fc;
  background-color: var(--mdc-ripple-color, #bb86fc);
}

.mdc-snackbar__action:hover::before,
.mdc-snackbar__action.mdc-ripple-surface--hover::before {
  opacity: .08;
  opacity: var(--mdc-ripple-hover-opacity, .08);
}

.mdc-snackbar__action.mdc-ripple-upgraded--background-focused::before,
.mdc-snackbar__action:not(.mdc-ripple-upgraded):focus::before {
  opacity: .24;
  opacity: var(--mdc-ripple-focus-opacity, .24);
  transition-duration: 75ms;
}

.mdc-snackbar__action:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}

.mdc-snackbar__action:not(.mdc-ripple-upgraded):active::after {
  opacity: .24;
  opacity: var(--mdc-ripple-press-opacity, .24);
  transition-duration: 75ms;
}

.mdc-snackbar__action.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, .24);
}

.mdc-snackbar__dismiss {
  color: rgba(255,255,255,.87);
}

.mdc-snackbar__dismiss .mdc-icon-button__ripple::before,
.mdc-snackbar__dismiss .mdc-icon-button__ripple::after {
  background-color: rgba(255,255,255,.87);
  background-color: var(--mdc-ripple-color, rgba(255,255,255,.87));
}

.mdc-snackbar__dismiss:hover .mdc-icon-button__ripple::before,
.mdc-snackbar__dismiss.mdc-ripple-surface--hover .mdc-icon-button__ripple::before {
  opacity: .08;
  opacity: var(--mdc-ripple-hover-opacity, .08);
}

.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused .mdc-icon-button__ripple::before,
.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus .mdc-icon-button__ripple::before {
  opacity: .24;
  opacity: var(--mdc-ripple-focus-opacity, .24);
  transition-duration: 75ms;
}

.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded) .mdc-icon-button__ripple::after {
  transition: opacity 150ms linear;
}

.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):active .mdc-icon-button__ripple::after {
  opacity: .24;
  opacity: var(--mdc-ripple-press-opacity, .24);
  transition-duration: 75ms;
}

.mdc-snackbar__dismiss.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, .24);
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss{
  font-size:18px;
  height: 36px;
  padding: 6px;
  width: 36px;
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-icon-button--reduced-size {
  height: 36px;
  padding: 6px;
  width: 36px;
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-icon-button--reduced-size.mdc-icon-button--touch {
  margin: 0;
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss .mdc-icon-button__touch {
  height: 36px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 36px;
}

.mdc-snackbar__action+.mdc-snackbar__dismiss {
  margin-left: 8px;
  margin-right: 0;
}

[dir=rtl] .mdc-snackbar__action+.mdc-snackbar__dismiss,
.mdc-snackbar__action+.mdc-snackbar__dismiss[dir=rtl] {
  margin-left: 0;
  margin-right: 8px;
}
