@keyframes mdc-ripple-fg-radius-in {

  from {
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    transform: translate(0) scale(1);
  }

  to {
    transform: translate(0) scale(1);
  }

}

@keyframes mdc-ripple-fg-opacity-in {

  from {
    animation-timing-function: linear;
    opacity: 0;
  }

  to {
    opacity: 0;
  }

}

@keyframes mdc-ripple-fg-opacity-out {

  from {
    animation-timing-function: linear;
    opacity: 0;
  }

  to {
    opacity: 0;
  }

}

@keyframes mdc-checkbox-fade-in-background-8A000000FF01878600000000FF018786{0%{border-color:rgba(0,0,0,.54);border-color:var(--mdc-checkbox-unchecked-color,rgba(0,0,0,.54));background-color:transparent}
50%{border-color:#018786;border-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#018786));background-color:#018786;background-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#018786))}
}

@keyframes mdc-checkbox-fade-out-background-8A000000FF01878600000000FF018786{0%,80%{border-color:#018786;border-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#018786));background-color:#018786;background-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#018786))}
100%{border-color:rgba(0,0,0,.54);border-color:var(--mdc-checkbox-unchecked-color,rgba(0,0,0,.54));background-color:transparent}
}

@keyframes mdc-checkbox-unchecked-checked-checkmark-path{0%,50%{stroke-dashoffset:29.7833385}
50%{animation-timing-function:cubic-bezier(0,0,.2,1)}
100%{stroke-dashoffset:0}
}

@keyframes mdc-checkbox-unchecked-indeterminate-mixedmark{0%,68.2%{transform:scaleX(0)}
68.2%{animation-timing-function:cubic-bezier(0,0,0,1)}
  100%{transform:scaleX(1)}
}

@keyframes mdc-checkbox-checked-unchecked-checkmark-path{from{animation-timing-function:cubic-bezier(.4,0,1,1);opacity:1;stroke-dashoffset:0}
to{opacity:0;stroke-dashoffset:-29.7833385}
}

@keyframes mdc-checkbox-checked-indeterminate-checkmark{from{animation-timing-function:cubic-bezier(0,0,.2,1);transform:rotate(0deg);opacity:1}
to{transform:rotate(45deg);opacity:0}
}

@keyframes mdc-checkbox-indeterminate-checked-checkmark{from{animation-timing-function:cubic-bezier(.14,0,0,1);transform:rotate(45deg);opacity:0}
to{transform:rotate(360deg);opacity:1}
}

@keyframes mdc-checkbox-checked-indeterminate-mixedmark {

  from {
    animation-timing-function: mdc-animation-deceleration-curve-timing-function;
    transform: rotate(-45deg);
    opacity: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
  }

}

@keyframes mdc-checkbox-indeterminate-checked-mixedmark{from{animation-timing-function:cubic-bezier(.14,0,0,1);transform:rotate(0deg);opacity:1}
  to{transform:rotate(315deg);opacity:0}
}

@keyframes mdc-checkbox-indeterminate-unchecked-mixedmark{0%{animation-timing-function:linear;transform:scaleX(1);opacity:1}
32.8%,100%{transform:scaleX(0);opacity:0}
}

@keyframes mdc-chip-entry{from{transform:scale(.8);opacity:.4}
to{transform:scale(1);opacity:1}
}

@keyframes mdc-circular-progress-container-rotate{to{transform:rotate(360deg)}}

@keyframes mdc-circular-progress-spinner-layer-rotate{12.5%{transform:rotate(135deg)}
25%{transform:rotate(270deg)}
37.5%{transform:rotate(405deg)}
50%{transform:rotate(540deg)}
62.5%{transform:rotate(675deg)}
75%{transform:rotate(810deg)}
87.5%{transform:rotate(945deg)}
100%{transform:rotate(1080deg)}
}

@keyframes mdc-circular-progress-color-1-fade-in-out{from{opacity:.99}
25%{opacity:.99}
26%{opacity:0}
89%{opacity:0}
90%{opacity:.99}
to{opacity:.99}
}

@keyframes mdc-circular-progress-color-2-fade-in-out{from{opacity:0}
15%{opacity:0}
25%{opacity:.99}
50%{opacity:.99}
51%{opacity:0}
to{opacity:0}
}

@keyframes mdc-circular-progress-color-3-fade-in-out{from{opacity:0}
40%{opacity:0}
50%{opacity:.99}
75%{opacity:.99}
76%{opacity:0}
to{opacity:0}
}

@keyframes mdc-circular-progress-color-4-fade-in-out{from{opacity:0}
65%{opacity:0}
75%{opacity:.99}
90%{opacity:.99}
to{opacity:0}
}

@keyframes mdc-circular-progress-left-spin{from{transform:rotate(265deg)}
50%{transform:rotate(130deg)}
to{transform:rotate(265deg)}
}

@keyframes mdc-circular-progress-right-spin{from{transform:rotate(-265deg)}
50%{transform:rotate(-130deg)}
to{transform:rotate(-265deg)}
}

@keyframes mdc-floating-label-shake-float-above-standard{0%{transform:translateX(calc(0 - 0%)) translateY(-106%) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - 0%)) translateY(-106%) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - 0%)) translateY(-106%) scale(.75)}
100%{transform:translateX(calc(0 - 0%)) translateY(-106%) scale(.75)}
}

@keyframes mdc-floating-label-shake-float-above-select-outlined-56px{0%{transform:translateX(calc(0 - 0%)) translateY(-34.75px) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - 0%)) translateY(-34.75px) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - 0%)) translateY(-34.75px) scale(.75)}
100%{transform:translateX(calc(0 - 0%)) translateY(-34.75px) scale(.75)}
}

@keyframes mdc-floating-label-shake-float-above-select-outlined-leading-icon-56px {

  0% {transform:translateX(calc(0 - 32px)) translateY(-34.75px) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - 32px)) translateY(-34.75px) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - 32px)) translateY(-34.75px) scale(.75)}
100%{transform:translateX(calc(0 - 32px)) translateY(-34.75px) scale(.75)}
}

@keyframes mdc-floating-label-shake-float-above-select-outlined-leading-icon-56px-rtl{0%{transform:translateX(calc(0 - -32px)) translateY(-34.75px) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - -32px)) translateY(-34.75px) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - -32px)) translateY(-34.75px) scale(.75)}
100%{transform:translateX(calc(0 - -32px)) translateY(-34.75px) scale(.75)}
}

@keyframes mdc-floating-label-shake-float-above-select-outlined-36px{0%{transform:translateX(calc(0 - 0%)) translateY(-24.75px) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - 0%)) translateY(-24.75px) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - 0%)) translateY(-24.75px) scale(.75)}
100%{transform:translateX(calc(0 - 0%)) translateY(-24.75px) scale(.75)}
}

@keyframes mdc-checkbox-fade-in-background-8A000000FF6200EE00000000FF6200EE{0%{border-color:rgba(0,0,0,.54);border-color:var(--mdc-checkbox-unchecked-color,rgba(0,0,0,.54));background-color:transparent}
50%{border-color:#6200ee;border-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#6200ee));background-color:#6200ee;background-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#6200ee))}
}

@keyframes mdc-checkbox-fade-out-background-8A000000FF6200EE00000000FF6200EE{0%,80%{border-color:#6200ee;border-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#6200ee));background-color:#6200ee;background-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#6200ee))}
100%{border-color:rgba(0,0,0,.54);border-color:var(--mdc-checkbox-unchecked-color,rgba(0,0,0,.54));background-color:transparent}
}

@keyframes mdc-linear-progress-primary-indeterminate-translate{0%{transform:translateX(0)}
20%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(0)}
59.15%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(83.67142%);transform:translateX(var(--mdc-linear-progress-primary-half,83.67142%))}
100%{transform:translateX(200.611057%);transform:translateX(var(--mdc-linear-progress-primary-full,200.611057%))}
}

@keyframes mdc-linear-progress-primary-indeterminate-scale{0%{transform:scaleX(.08)}
36.65%{animation-timing-function:cubic-bezier(.334731,.12482,.785844,1);transform:scaleX(.08)}
69.15%{animation-timing-function:cubic-bezier(.06,.11,.6,1);transform:scaleX(.661479)}
100%{transform:scaleX(.08)}

}

@keyframes mdc-linear-progress-secondary-indeterminate-translate{0%{animation-timing-function:cubic-bezier(.15,0,.515058,.409685);transform:translateX(0)}
25%{animation-timing-function:cubic-bezier(.31033,.284058,.8,.733712);transform:translateX(37.651913%);transform:translateX(var(--mdc-linear-progress-secondary-quarter,37.651913%))}
48.35%{animation-timing-function:cubic-bezier(.4,.627035,.6,.902026);transform:translateX(84.386165%);transform:translateX(var(--mdc-linear-progress-secondary-half,84.386165%))}
100%{transform:translateX(160.277782%);transform:translateX(var(--mdc-linear-progress-secondary-full,160.277782%))}
}

@keyframes mdc-linear-progress-secondary-indeterminate-scale{0%{animation-timing-function:cubic-bezier(.205028,.057051,.57661,.453971);transform:scaleX(.08)}
19.15%{animation-timing-function:cubic-bezier(.152313,.196432,.648374,1.004315);transform:scaleX(.457104)}
44.15%{animation-timing-function:cubic-bezier(.257759,-.003163,.211762,1.38179);transform:scaleX(.72796)}
100%{transform:scaleX(.08)}
}

@keyframes mdc-linear-progress-buffering{from{transform:rotate(180deg) translateX(-10px)}
}

@keyframes mdc-linear-progress-primary-indeterminate-translate-reverse{0%{transform:translateX(0)}
20%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(0)}
59.15%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(-83.67142%);transform:translateX(var(--mdc-linear-progress-primary-half-neg,-83.67142%))}
100%{transform:translateX(-200.611057%);transform:translateX(var(--mdc-linear-progress-primary-full-neg,-200.611057%))}
}

@keyframes mdc-linear-progress-secondary-indeterminate-translate-reverse{0%{animation-timing-function:cubic-bezier(.15,0,.515058,.409685);transform:translateX(0)}
25%{animation-timing-function:cubic-bezier(.31033,.284058,.8,.733712);transform:translateX(-37.651913%);transform:translateX(var(--mdc-linear-progress-secondary-quarter-neg,-37.651913%))}
48.35%{animation-timing-function:cubic-bezier(.4,.627035,.6,.902026);transform:translateX(-84.386165%);transform:translateX(var(--mdc-linear-progress-secondary-half-neg,-84.386165%))}
100%{transform:translateX(-160.277782%);transform:translateX(var(--mdc-linear-progress-secondary-full-neg,-160.277782%))}
}

@keyframes mdc-linear-progress-buffering-reverse {

  from {
    transform: translateX(-10px);
  }

}

@keyframes mdc-floating-label-shake-float-above-text-field-outlined{0%{transform:translateX(calc(0 - 0%)) translateY(-34.75px) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - 0%)) translateY(-34.75px) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - 0%)) translateY(-34.75px) scale(.75)}
100%{transform:translateX(calc(0 - 0%)) translateY(-34.75px) scale(.75)}
}

@keyframes mdc-floating-label-shake-float-above-textarea-filled{0%{transform:translateX(calc(0 - 0%)) translateY(-10.25px) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - 0%)) translateY(-10.25px) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - 0%)) translateY(-10.25px) scale(.75)}
100%{transform:translateX(calc(0 - 0%)) translateY(-10.25px) scale(.75)}
}

@keyframes mdc-floating-label-shake-float-above-textarea-outlined{0%{transform:translateX(calc(0 - 0%)) translateY(-24.75px) scale(.75)}
33%{animation-timing-function:cubic-bezier(.5,0,.701732,.495819);transform:translateX(calc(4% - 0%)) translateY(-24.75px) scale(.75)}
66%{animation-timing-function:cubic-bezier(.302435,.381352,.55,.956352);transform:translateX(calc(-4% - 0%)) translateY(-24.75px) scale(.75)}
100%{transform:translateX(calc(0 - 0%)) translateY(-24.75px) scale(.75)}
}

@keyframes mdc-floating-label-shake-float-above-text-field-outlined-leading-icon {

  0% {
    transform: translateX(calc(0 - 32px)) translateY(-34.75px) scale(.75);
  }

  33% {
    animation-timing-function: cubic-bezier(.5,0,.701732,.495819);
    transform: translateX(calc(4% - 32px)) translateY(-34.75px) scale(.75);
  }

  66% {
    animation-timing-function: cubic-bezier(.302435,.381352,.55,.956352);
    transform: translateX(calc(-4% - 32px)) translateY(-34.75px) scale(.75);
  }

  100% {
    transform: translateX(calc(0 - 32px)) translateY(-34.75px) scale(.75);
  }

}

@keyframes mdc-floating-label-shake-float-above-text-field-outlined-leading-icon-rtl {

  0% {
    transform: translateX(calc(0 - -32px)) translateY(-34.75px) scale(.75);
  }

  33% {
    animation-timing-function: cubic-bezier(.5,0,.701732,.495819);
    transform: translateX(calc(4% - -32px)) translateY(-34.75px) scale(.75);
  }

  66% {
    animation-timing-function: cubic-bezier(.302435,.381352,.55,.956352);
    transform: translateX(calc(-4% - -32px)) translateY(-34.75px) scale(.75);
  }

  100% {
    transform: translateX(calc(0 - -32px)) translateY(-34.75px) scale(.75);
  }

}
