/* System font stack with font swapping */
:root {
  font-display: swap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html {
  line-height: 1.15;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

/* The `body` from normalize.css with `mdc-typography` from Material Design. */
body {
  font-family: Roboto, sans-serif;
  font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Horizontal rule from normalize.css and Material Design Lite (MDL) */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  box-sizing: content-box;
  display: block;
  height: 1px;
  margin: 1em 0;
  overflow: visible;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* Eleminates the need for extra italic or oblique font loading. */
cite,
dfn,
em {
  font-style: normal;
  font-weight: bolder;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea{overflow:auto}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* `<p>…</p>` styled in Material Design `mdc-typography--body1`
 *  and `<p><small>…</small></p>` in `mdc-typography--body2`.
 */
p {
  font-family: Roboto, sans-serif;
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem; font-size:var(--mdc-typography-body1-font-size,1rem);
  line-height: 1.5rem;
  line-height: var(--mdc-typography-body1-line-height, 1.5rem);
  font-weight: 400;
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing:.03125em;
  letter-spacing: var(--mdc-typography-body1-letter-spacing, .03125em);
  text-decoration: inherit;
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-body1-text-transform, inherit);
}

p > small {
  font-family: Roboto, sans-serif;
  font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: .875rem;
  font-size: var(--mdc-typography-body2-font-size, .875rem);
  line-height: 1.25rem;
  line-height: var(--mdc-typography-body2-line-height,1.25rem);
  font-weight: 400;
  font-weight: var(--mdc-typography-body2-font-weight, 400);
  letter-spacing: .0178571429em;
  letter-spacing: var(--mdc-typography-body2-letter-spacing, .0178571429em);
  text-decoration: inherit;
  text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-body2-text-transform, inherit);
}
