@charset "UTF-8";

:root {
  --mdc-theme-background: #f8f9fa;
  --mdc-theme-error: #d32f2f;
  --mdc-theme-on-error: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-primary: #8bc34a;
  --mdc-theme-secondary: #03a9f4;
}

html {
  color: #212121;
  color: rgba(0, 0, 0, 0.87);
}

html,
body {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  font-display: swap;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 20px;
  margin: 0;
}

body {
  background-color: var(--mdc-theme-background, #f8f9fa);
  cursor: default;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


#sc-top-app-bar__order-status {
  visibility: hidden;
}


.sc-logo {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.02em;
}

.sc-logo > strong {
  font-style: normal;
  font-weight: 900;
}

main > .sc-logo {
  padding-top: 180px;
  padding-top: 33vh;
  text-align: center;
}
