<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><?php echo \StoreCore\I18N\NOUN_STORECORE ?></title>

    <meta name="apple-mobile-web-app-capable" value="yes">
    <meta name="apple-mobile-web-app-status-bar-style" value="black-translucent">
    <meta name="generator" value="StoreCore">
    <meta name="msapplication-TileColor" value="#8bc34a">
    <meta name="msapplication-TileImage" value="/admin/images/StoreCore-icon-144x144.png">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="theme-color" value="#689f38">

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="preload" as="style" href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.css">
    <link rel="preload" as="script" href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.js">

    <link href="/admin/manifest.webmanifest" rel="manifest">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link href="/admin/admin.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.js"></script>
  </head>
  <body class="mdc-typography">
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
          <span class="mdc-top-app-bar__title"><?php echo \StoreCore\I18N\NOUN_STORECORE ?></span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite</button>
          <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
          <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
        </section>
      </div>
    </header>


    <main id="main"></main>

    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        console.log('[serviceWorker] Registration successful with scope: ', registration.scope);
      }).catch(function(err) {
        console.log('Service worker registration failed: ', err);
      });
    }
    </script>

    <script>window.mdc.autoInit();</script>
  </body>
</html>
