<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>StoreCore</title>

    <meta name="apple-mobile-web-app-capable" value="yes">
    <meta name="apple-mobile-web-app-status-bar-style" value="black-translucent">
    <meta name="generator" value="StoreCore">
    <meta name="msapplication-TileColor" value="#8bc34a">
    <meta name="msapplication-TileImage" value="/admin/images/StoreCore-icon-144x144.png">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="theme-color" value="#689f38">

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="preload" as="style" href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.css">
    <link rel="preload" as="script" href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.js">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link href="/admin/admin.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.js"></script>
  </head>
  <body class="mdc-typography" onload="window.mdc.autoInit()">
  </body>
</html>
