<header class="mdc-top-app-bar mdc-top-app-bar--fixed" id="header">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="location.href='/admin/sign-in';">lock</button>
      <span class="mdc-top-app-bar__title">StoreCore</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" id="sc-top-app-bar__order-status">description</button>
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" id="sc-top-app-bar__cloud-status">cloud</button>
    </section>
  </div>
</header>
<main class="mdc-top-app-bar--fixed-adjust" id="main" style="text-align:center">
  <h1 class="sc-logo"><strong>Store</strong>Core</h1>
  <button class="mdc-fab mdc-fab--extended" onclick="location.href='/admin/sign-in';">
    <div class="mdc-fab__ripple"></div>
    <span class="material-icons mdc-fab__icon">lock_open</span>
    <span class="mdc-fab__label"><?php echo STORECORE\I18N\COMMAND_UNLOCK; ?></span>
  </button>
</main>
