:root {
  background-color: #8bc34a;
  color: #fff;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #8bc34a;
  color: #fff;
  font-display: auto;
  font-family: Roboto, "Droid Sans", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  align-content: center;
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: center;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

h1 {
  color: #fff;
  display: block;
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 114px;
  }
}

form {
  align-content: center;
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 20% 0 0 0;
  text-align: center;
  width: 100vw;
}

main > h1 {
  line-height: 62vh;
}

main > form {
  height: 38vh;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


strong {
  font-weight: bolder;
}

h1 > strong {
  font-weight: 900;
}


#fab {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
  background-color: #03a9f4; 
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  cursor: pointer;
  display: inline-flex;
  fill: currentColor;
  height: 56px;
  justify-content: center;
  position: relative;
  width: 56px;
  overflow: visible;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1), opacity 15ms linear 30ms, transform 270ms 0ms cubic-bezier(0,0,.2,1);
  will-change: transform, opacity;
  z-index: 0;
}

#fab:hover {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  cursor: pointer
}

#fab:active,
#fab:focus:active {
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
}

#fab:active,
#fab:focus {
  outline: none;
}

#fab::before {
  border: 1px solid transparent;
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

#fab__icon {
  fill: currentColor;
  transition: transform 180ms 90ms cubic-bezier(0,0,.2,1);
  will-change: transform;
}

#fab #fab__icon {
  align-items: center;
  display: inline-flex;
  font-size: 24px;
  height: 24px;
  justify-content: center;
  width: 24px;
}

#fab,
#fab:not(:disabled) #fab__icon,
#fab:disabled #fab__icon {
  color: #fff;
}
